<div style="text-align:center">
  <div class="card">
    <header class="card-header">
      <h2 class="is-size-4 has-text-weight-bold">Games Collection for {{username}}</h2>
    </header>
    {{#each games}}
    <div class="card">
        <header class="card-header">
            <h2 class="is-size-4 has-text-weight-bold">{{title}}</h2>
        </header>
    <div class="card-image">
      <a href="{{url}}" target="_blank"><img src="{{thumbnail}}" alt="{{title}}" /></a>
    </div>
  </div>
      {{/each}}
  </div>

<script src="./js/homepage.js"></script>