<div>
  <div>
    <img src="{{thumbnail}}" alt="featured Game"/>
    <h2>Featured Game of the Day</h2>
  </div>
  <div>
    <p>Search for a game to play</p>
    <form class="search-form">
      <div>
        <label for="title-search">Game name:</label>
        <input type="text" id="name-search">
      </div>
      <div>
        <label for="genre-search">Genre type:</label>
        <select name="genre" id="genre-search">
          <option value="">--Select genre option--</option>
          <option value="MMORPG">MMORPG</option>
          <option value="Shooter">Shooter</option>
          <option value="Action RPG">Action RPG</option>
          <option value="MOBA">MOBA</option>
          <option value="Anime">Anime</option>
          <option value="Battle Royal">Battle Royal</option>
          <option value="Strategy">Strategy</option>
          <option value="Fantasy">Fantasy</option>
          <option value="Sci-Fi">Sci-Fi</option>
          <option value="Card Game">Card Games</option>
          <option value="Racing">Racing</option>
          <option value="Fighting">Fighting</option>
          <option value="Social">Social</option>
          <option value="Sports">Sports</option>
        </select>
      </div>
      <div>
        <button type="submit">Find Game</button>
      </div>
    </form>
  </div>
</div>

<script src="./homepage.js"></script>




{{!-- {{#each projects as |project| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      {{{get_emoji}}}
      <a href="/project/{{project.id}}">{{project.name}}</a>
    </h2>
    <p>
      <span for="img" aria-label="money">💲</span>
      <!-- Pass needed_funding value to the helper function -->
      <span class="dollar-amount">{{format_amount project.needed_funding}}</span>
      needed!
    </p>
    <p>Created by {{project.user.name}} on {{format_date project.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{project.description}}
    </p>
  </div>
</div>
{{/each}} --}}
